body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.film-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fafafa;
}

    .film-item h2 {
        margin: 0;
        color: #007BFF;
    }

    .film-item p {
        margin: 5px 0;
        color: #555;
    }
#add-film-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

    #add-film-modal form {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #add-film-modal input {
        margin: 10px 0;
        padding: 8px;
        width: 100%;
    }

    #add-film-modal button {
        margin-top: 10px;
    }
    footer{
        display: none;
    }
    header{
        display: none;
    }